<% include partials/header %>

<div class="row">
    <div class="col-md-2">
    </div>
      <div class="col-md-8">
    <form class="" action="/signup" method="post">
        <label for="username">User Name
          <input type="text" name="username" value="<%= username %>" placeholder="username">
        </label>
        <label for="password">Password
          <input type="text" name="password" value="<%= password %>" placeholder="password">
        </label>
        <label for="email">Email
          <input type="email" name="email" value="<%= email %>" placeholder="email">
        </label>
        <label for="firstName">First Name
          <input type="text" name="firstName" value="<%= firstName %>" placeholder="firstName">
        </label>
        <label for="lastName">Last Name
          <input type="text" name="lastName" value="<%= lastName %>" placeholder="lastName">
        </label>
        <label for="phoneNumber">Phone Number
          <input type="tel" name="phoneNumber" value="<%= phoneNumber %>" placeholder="phoneNumber">
        </label>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

        <% if(hasError) { %>
          <div class="row">
            <div class="col-md-6 errorBlock">
              <% for(var item in error) { %>
                <strong><h6><%= item %></h6></strong>
                <ul>
                <% for(var i = 0; i < error[item].length; i++) { %>
                    <li>
                      <i>
                        <%= error[item][i].message %>
                      </i>
                    </li>
                <% } %>
                </ul>
              <% } %>
            </div>
          </div>
        <% } %>
    </div>
    <div class="col-md-2">

    </div>
</div>

<% include partials/footer %>
